body
    margin 0
    height 100%

#main
    margin 0 auto
    height 100%
    background-image url('img/grid.svg')
    background-position center
    border-bottom #ccc 2px

#bar
    box-sizing border-box
    border-collapse separate
    border groove #fefefe 1px
    background #ffffff
    border-radius 3px
    opacity 0.78
    font 32px  Helvetica, Arial, sans-serif
    // white-space nowrap
    // overflow hidden

.rep
    box-sizing border-box
    border-collapse separate
    border groove #fefefe 3px
    background #fff
    border-radius 6px
    display block
    float right
    padding 6px

.req
    box-sizing border-box
    border-collapse separate
    border groove #fefefe 3px
    background #ccc
    border-radius 6px
    display block
    float right
    padding 6px

#logo
    display block
    float left

#watch
    display block
    float right

#profile
    display block
    float right

#cli
    opacity 0.87

#output
    box-sizing border-box
    border-collapse separate
    border groove #fefefe 1px
    border-radius 3px
    background #ececec
    padding 3px
    overflow auto
    font 20px Helvetica, Arial, sans-serif

#input
    box-sizing border-box
    border-collapse separate
    border groove #fefefe 1px
    border-radius 3px
    background #ccc
    padding 3px

#line
    text-align right
    font 22px Helvetica, Arial, sans-serif
    background #eee
