body
    margin 0
    height 100%

#main
    margin 0 auto
    height 100%
    background-image url('img/grid.svg')
    background-position center
    border-bottom #ccc 2px

#bar
    box-sizing border-box
    border-collapse separate
    border groove #fefefe 1px
    background #e5e3ba
    border-radius 3px
    opacity 0.78
    font 32px  Helvetica, Arial, sans-serif

.rep
    display block
    float left

.req
    display block
    float right

#logo
    display block
    float left

#watch
    display block
    float right

#cli
    opacity 0.87

#output
    box-sizing border-box
    border-collapse separate
    border groove #fefefe 1px
    border-radius 3px
    background #add8e6
    padding 3px
    overflow auto
    font 20px Helvetica, Arial, sans-serif

#input
    box-sizing border-box
    border-collapse separate
    border groove #fefefe 1px
    border-radius 3px
    background #e5e3ba
    padding 3px

#line
    text-align right
    font 22px Helvetica, Arial, sans-serif
    background #a5cda5
