body
  background-color #000

.content
  box-sizing border-box
  border-collapse separate
  border groove white 1px
  margin 0 auto

.command-line
  font-size 14px
  background #fff
  text-align right
  width 100%
  margin 0
  padding 0

.resp
  display inline-block
  background #eee
  float left

.req
  display inline-block
  background #ccc
  float right

@media screen and (min-width: 600px)
  .command-line
    font-size 1.2em
  .req
    font-size 1.2em
    padding 1.2em
  .resp
    font-size 1.2em
    padding 1.2em

@media screen and (min-width: 1024px)
  .command-line
    font-size 1.1em
  .req
    font-size 1.1em
  .resp
    font-size 1.1em
