doctype html
html
  head
    title UTR-S
    link(rel='stylesheet' type='text/css' href='style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  body(lang='en')
    div(id='mainBlock')
      div(id='searchBlock')
        input(id='searchLine' autocomplete='off' placeholder='|')
      div(id='returnBlock')
    script(src='bundle.js')
