doctype html
html
  head
    title Under The Rules
    link(rel='stylesheet' type='text/css' href='style.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
  body(lang='en')
    ul(class='pages')
      li(class='chat page' style='display: list-item;')
        div(class='chatArea')
          ul(class='messages')
        div(id='input')
          input(id='line' class='inputMessage' autocomplete='off' placeholder='|')         
    script(src='js/sigma.min.js')
    script(src='js/sigma.parsers.json.min.js')
    script(src='bundle.js')
