doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  body(lang='en')
    div(id='content')
      div(id='dateTime')
      div(id='searchBlock')
      div(id='footer')
        a(href='http://github.com/caffellatte/undertherules') UTR-Sociometry
    script(src='bundle.js')
