doctype html
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cdn.jsdelivr.net/sockjs/1.0.1/sockjs.min.js')
    link(rel='stylesheet' type='text/css' href='style.css')
  body(lang='en')
    h1 Under the rules of Sociometry
    script(src="bundle.js")
