doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='style.css')
  body(lang='en')
    h1 UTR-Sociometry
    ul(id="messages")
    form(action="")
      input(id="m" autocomplete="off")
      button Send
    script(src="bundle.js")
