doctype html
html
  head
    title Under The Rules
    link(rel='stylesheet' type='text/css' href='style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
  body(lang='en')
    div(id='main' class='content')
      div(id='input')
        input(id='line' class='command-line' autocomplete='off' placeholder='|')         
      div
        ul(id='output')
    script(src='bundle.js')
