doctype html
html
  head
    title UTR-S
    link(rel='stylesheet' type='text/css' href='style.css')
  body(lang='en')
    div(id='main')
      div(id='bar')
        div(id='logo')
          img(id='logoImg' src='img/utr-s-logo.png')
        div(id='watch')
          img(id='watchImg' src='img/logo.png')
        div(id='profile')
          img(id='profileImg' src='img/profile.png')
      div(id='cli')
        div(id='output')
        div(id='input')
          input(id='line' autocomplete='off' placeholder='|')
    script(src='bundle.js')
