doctype html
html
  head
    title UTR-S
    link(rel='stylesheet' type='text/css' href='style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  body(lang='en')
    div(id='main')
      div(id='bar')
        div(id='logo' class='left')
          //- img(id='logoImg' src='img/logo.png')
        div(id='watch' class='right')
          img(id='watchImg' src='img/watch.png')
      div(id='cli')
        div(id='output')
        div(id='input')
          input(id='line' autocomplete='off' placeholder='|')
    script(src='bundle.js')
