doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  body(lang='en')
    div(id='dateTime')
    div(id='searchBlock')
    dev(id='recordBlock')
    script(src='bundle.js')
