doctype html
html
  head
    title Under The Rules
    link(rel='stylesheet' type='text/css' href='style.css')
  body(lang='en')
    div(id='main')
      div(id='output')
      div(id='input')
        input(id='line' autocomplete='off' placeholder='command argument_1 argument_2 ...')         
    script(src='bundle.js')
