doctype html
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cdn.jsdelivr.net/sockjs/1.0.1/sockjs.min.js')
    style.
  body(lang='en')
    h1 SockJS Echo example
    #first.box
      div
      form
        input(autocomplete='off', value='Type here...')
    script.


